<div class="horizontal-navigation horizontal-navigation-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="p-t-20 p-b-20">
                    <ol class="breadcrumb icon-angle-right animation-delay">
                        <li class="wow fadeIn"> Home </li>
                        <li class="wow fadeIn"> Dashboard </li>
                        <li class="wow fadeIn active"> Welcome </li>
                    </ol>
                    <div class="description">
                        <h3 class="wow fadeIn delay-1000">Dashboard</h3>
                        <p class="wow fadeIn delay-1200"> Welcome </p>
                    </div>
                    <ul class="list-unstyled navigation animation-delay">
                        <li class="horizontal-navigation-dropdown wow fadeIn"> <a class="btn btn-primary"> Dashboards </a>
                            <div class="horizontal-dropdown-menu" "> <a class="btn btn-primary sideline" href="dashboards-analytics.html"> Analytics </a> <a class="btn btn-primary sideline" href="dashboards-e-commerce.html"> e-Commerce </a> <a class="btn btn-primary sideline" href="dashboards-finance.html"> Finance </a> <a class="btn btn-primary sideline" href="dashboards-saas.html"> SAAS </a> </div>
                </li>
                <li class="horizontal-navigation-dropdown wow fadeIn"> <a class="btn btn-primary"> Layouts </a>
                    <div class="horizontal-dropdown-menu" "> <a class="btn btn-primary sideline" data-click="set-layout" data-id="default-sidebar"> Default sidebar </a> <a class="btn btn-primary sideline" data-click="set-layout" data-id="collapsed-sidebar"> Collapsed sidebar </a> <a class="btn btn-primary sideline" data-click="set-layout" data-id="off-canvas"> Off canvas </a> <a class="btn btn-primary sideline" data-click="set-layout" data-id="left-sidebar-over"> Left sidebar over </a> <a class="btn btn-primary sideline" data-click="set-layout" data-id="left-sidebar-under"> Left sidebar under </a> <a class="btn btn-primary sideline" data-click="set-layout" data-id="horizontal-navigation-1"> Horizontal navigation 1 </a> <a class="btn btn-primary sideline" data-click="set-layout" data-id="horizontal-navigation-2"> Horizontal navigation 2 </a> <a class="btn btn-primary sideline" data-click="set-layout" data-id="horizontal-navigation-3"> Horizontal navigation 3 </a> <a class="btn btn-primary sideline" data-click="set-layout" data-id="mega-menu"> Mega menu </a> </div>
            </li>
            <li class="horizontal-navigation-dropdown wow fadeIn"> <a class="btn btn-primary"> Widgets </a>
                <div class="horizontal-dropdown-menu" "> <a class="btn btn-primary sideline" href="widgets-activity-widgets.html"> Activity widgets </a> <a class="btn btn-primary sideline" href="widgets-chart-widgets.html"> Chart widgets </a> <a class="btn btn-primary sideline" href="widgets-social-media-widgets.html"> Social Media widgets </a> <a class="btn btn-primary sideline" href="widgets-text-widgets.html"> Text widgets </a> <a class="btn btn-primary sideline" href="widgets-user-widgets.html"> User widgets </a> </div>
        </li>
        <li class="horizontal-navigation-dropdown wow fadeIn"> <a class="btn btn-primary"> UI </a>
            <div class="horizontal-dropdown-menu horizontal-dropdown-menu-lg" "> <a class="btn btn-primary sideline" href="ui-elements-timers-and-counters.html"> Timers and counters </a> <a class="btn btn-primary sideline" href="ui-elements-images.html"> Images </a> <a class="btn btn-primary sideline" href="ui-elements-overlays.html"> Overlays </a> <a class="btn btn-primary sideline" href="ui-elements-lists.html"> Lists </a> <a class="btn btn-primary sideline" href="ui-elements-typography.html"> Typography </a> <a class="btn btn-primary sideline" href="ui-elements-buttons.html"> Buttons </a> <a class="btn btn-primary sideline" href="ui-elements-labels.html"> Labels </a> <a class="btn btn-primary sideline" href="ui-elements-progress-bars.html"> Progress Bars </a> <a class="btn btn-primary sideline" href="ui-elements-carousel.html"> Carousel </a> <a class="btn btn-primary sideline" href="ui-elements-tabs.html"> Tabs </a> <a class="btn btn-primary sideline" href="ui-elements-grid.html"> Grid </a> <a class="btn btn-primary sideline" href="ui-elements-alerts-and-notifications.html"> Alerts &amp; notifications </a> <a class="btn btn-primary sideline" href="ui-elements-animations.html"> Animations </a> <a class="btn btn-primary sideline" href="ui-elements-breadcrumbs.html"> Breadcrumbs </a> <a class="btn btn-primary sideline" href="ui-elements-google-maps.html"> Google Maps </a> <a class="btn btn-primary sideline" href="ui-elements-vector-maps.html"> Vector Maps </a> <a class="btn btn-primary sideline" href="ui-elements-cards.html"> Cards </a> <a class="btn btn-primary sideline" href="ui-elements-dropdowns.html"> Dropdowns </a> <a class="btn btn-primary sideline" href="ui-elements-drag-and-drop.html"> Drag and drop </a> <a class="btn btn-primary sideline" href="ui-elements-other-elements.html"> Other elements </a> </div>
    </li>
    <li class="horizontal-navigation-dropdown wow fadeIn"> <a class="btn btn-primary"> Utilities </a>
        <div class="horizontal-dropdown-menu" "> <a class="btn btn-primary sideline" href="utilities-color-utilities.html"> Color utilities </a> <a class="btn btn-primary sideline" href="utilities-border-utilities.html"> Border utilities </a> <a class="btn btn-primary sideline" href="utilities-height-utilities.html"> Height utilities </a> <a class="btn btn-primary sideline" href="utilities-margin-utilities.html"> Margin Utilities </a> <a class="btn btn-primary sideline" href="utilities-other-utilities.html"> Other utilities </a> <a class="btn btn-primary sideline" href="utilities-padding-utilities.html"> Padding utilities </a> <a class="btn btn-primary sideline" href="utilities-position-utilities.html"> Position utilities </a> <a class="btn btn-primary sideline" href="utilities-text-utilities.html"> Text utilities </a> <a class="btn btn-primary sideline" href="utilities-width-utilities.html"> Width utilities </a> </div>
</li>
<li class="horizontal-navigation-dropdown wow fadeIn"> <a class="btn btn-primary"> Icons </a>
    <div class="horizontal-dropdown-menu" "> <a class="btn btn-primary sideline" href="icons-font-awesome.html"> Font Awesome </a> <a class="btn btn-primary sideline" href="icons-ionicons.html"> Ionicons </a> <a class="btn btn-primary sideline" href="icons-emoji.html"> Emoji </a> <a class="btn btn-primary sideline" href="icons-flags.html"> Flags </a> <a class="btn btn-primary sideline" href="icons-material-design-icons.html"> Material Design Icons </a> <a class="btn btn-primary sideline" href="icons-weather-icons.html"> Weather Icons </a> </div>
</li>
<li class="horizontal-navigation-dropdown wow fadeIn"> <a class="btn btn-primary"> Forms </a>
    <div class="horizontal-dropdown-menu" "> <a class="btn btn-primary sideline" href="forms-basic.html"> Basic forms </a> <a class="btn btn-primary sideline" href="forms-sample.html"> Sample forms </a> <a class="btn btn-primary sideline" href="forms-validation.html"> Form Validation </a> <a class="btn btn-primary sideline" href="forms-file-uploads.html"> File Uploads </a> <a class="btn btn-primary sideline" href="forms-jquery-file-upload.html"> jQuery File Upload </a> <a class="btn btn-primary sideline" href="forms-text-editor.html"> Text editor </a> <a class="btn btn-primary sideline" href="forms-pickers.html"> Pickers </a> <a class="btn btn-primary sideline" href="forms-nouislider.html"> NoUiSlider </a> </div>
</li>
<li class="horizontal-navigation-dropdown wow fadeIn"> <a class="btn btn-primary"> Tables </a>
    <div class="horizontal-dropdown-menu" "> <a class="btn btn-primary sideline" href="tables-static.html"> Static Tables </a> <a class="btn btn-primary sideline" href="tables-datatable.html"> Datatable </a> <a class="btn btn-primary sideline" href="tables-sortable.html"> Sortable </a> </div>
</li>
<li class="horizontal-navigation-dropdown wow fadeIn"> <a class="btn btn-primary"> e-Commerce </a>
    <div class="horizontal-dropdown-menu" "> <a class="btn btn-primary sideline" href="e-commerce-dashboard.html"> Dashboard </a> <a class="btn btn-primary sideline" href="e-commerce-orders.html"> Orders </a> <a class="btn btn-primary sideline" href="e-commerce-order.html"> Order </a> <a class="btn btn-primary sideline" href="e-commerce-products.html"> Products </a> <a class="btn btn-primary sideline" href="e-commerce-product.html"> Product </a> <a class="btn btn-primary sideline" href="e-commerce-customers.html"> Customers </a> </div>
</li>
<li class="horizontal-navigation-dropdown wow fadeIn"> <a class="btn btn-primary"> Email </a>
    <div class="horizontal-dropdown-menu" "> <a class="btn btn-primary sideline" href="email-inbox.html"> Inbox </a> <a class="btn btn-primary sideline" href="email-view.html"> View email </a> <a class="btn btn-primary sideline" href="email-compose.html"> Compose email </a> </div>
</li>
<li class="horizontal-navigation-dropdown wow fadeIn"> <a class="btn btn-primary"> Charts </a>
    <div class="horizontal-dropdown-menu" "> <a class="btn btn-primary sideline" href="charts-nvd3.html"> NVD3 </a> <a class="btn btn-primary sideline" href="charts-chartist.html"> Chartist </a> <a class="btn btn-primary sideline" href="charts-chart-js.html"> Chart.js </a> <a class="btn btn-primary sideline" href="charts-easy-pie-chart.html"> Easy Pie Chart </a> <a class="btn btn-primary sideline" href="charts-jquery-knob.html"> jQuery Knob </a> <a class="btn btn-primary sideline" href="charts-gauge.html"> Gauges </a> </div>
</li>
<li class="horizontal-navigation-dropdown wow fadeIn"> <a class="btn btn-primary"> Pages </a>
    <div class="horizontal-dropdown-menu" "> <a class="btn btn-primary sideline" href="pages-error-page.html"> Error page </a> <a class="btn btn-primary sideline" href="pages-empty-page.html"> Empty Page </a> <a class="btn btn-primary sideline" href="pages-login.html"> Login </a> <a class="btn btn-primary sideline" href="pages-register.html"> Register </a> <a class="btn btn-primary sideline" href="pages-forgot-password.html"> Forgot Password </a> <a class="btn btn-primary sideline" href="pages-lock-screen.html"> Lock Screen </a> <a class="btn btn-primary sideline" href="pages-profile.html"> User profile </a> <a class="btn btn-primary sideline" href="pages-coming-soon.html"> Coming soon </a> <a class="btn btn-primary sideline" href="pages-under-maintenance.html"> Under maintenance </a> </div>
</li>
<li class="horizontal-navigation-dropdown wow fadeIn"> <a class="btn btn-primary"> Extras </a>
    <div class="horizontal-dropdown-menu" "> <a class="btn btn-primary sideline" href="extras-invoice.html"> Invoice </a> <a class="btn btn-primary sideline" href="extras-zoom.html"> Zoom </a> <a class="btn btn-primary sideline" href="extras-search-results.html"> Search Results </a> <a class="btn btn-primary sideline" href="extras-pricing-tables.html"> Pricing tables </a> <a class="btn btn-primary sideline" href="extras-wow.html"> Wow </a> <a class="btn btn-primary sideline" href="extras-syntax-highlighting.html"> Syntax highlighting </a> <a class="btn btn-primary sideline" href="extras-calendar.html"> Calendar </a> <a class="btn btn-primary sideline" href="extras-crop.html"> Image cropping </a> <a class="btn btn-primary sideline" href="extras-mousetrap.html"> Mousetrap </a> <a class="btn btn-primary sideline" href="extras-typed.html"> Typed.js </a> </div>
</li>
<li class="horizontal-navigation-dropdown wow fadeIn"> <a class="btn btn-primary" href="documentation.html"> Docs </a> </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="horizontal-navigation horizontal-navigation-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="p-t-20 p-b-20">
                    <ol class="breadcrumb icon-angle-right animation-delay">
                        <li class="wow fadeIn"> Home </li>
                        <li class="wow fadeIn"> Dashboard </li>
                        <li class="wow fadeIn active"> Welcome </li>
                    </ol>
                    <div class="description">
                        <h3 class="wow fadeIn delay-1000">Dashboard</h3>
                        <p class="wow fadeIn delay-1200"> Welcome </p>
                    </div>
                    <ul class="list-unstyled navigation animation-delay">
                        <li class="horizontal-navigation-dropdown wow fadeIn"> <a class="btn btn-primary"> Dashboards </a>
                            <div class="horizontal-dropdown-menu" "> <a class="btn btn-primary sideline" href="dashboards-analytics.html"> Analytics </a> <a class="btn btn-primary sideline" href="dashboards-e-commerce.html"> e-Commerce </a> <a class="btn btn-primary sideline" href="dashboards-finance.html"> Finance </a> <a class="btn btn-primary sideline" href="dashboards-saas.html"> SAAS </a> </div>
                </li>
                <li class="horizontal-navigation-dropdown wow fadeIn"> <a class="btn btn-primary"> Layouts </a>
                    <div class="horizontal-dropdown-menu" "> <a class="btn btn-primary sideline" data-click="set-layout" data-id="default-sidebar"> Default sidebar </a> <a class="btn btn-primary sideline" data-click="set-layout" data-id="collapsed-sidebar"> Collapsed sidebar </a> <a class="btn btn-primary sideline" data-click="set-layout" data-id="off-canvas"> Off canvas </a> <a class="btn btn-primary sideline" data-click="set-layout" data-id="left-sidebar-over"> Left sidebar over </a> <a class="btn btn-primary sideline" data-click="set-layout" data-id="left-sidebar-under"> Left sidebar under </a> <a class="btn btn-primary sideline" data-click="set-layout" data-id="horizontal-navigation-1"> Horizontal navigation 1 </a> <a class="btn btn-primary sideline" data-click="set-layout" data-id="horizontal-navigation-2"> Horizontal navigation 2 </a> <a class="btn btn-primary sideline" data-click="set-layout" data-id="horizontal-navigation-3"> Horizontal navigation 3 </a> <a class="btn btn-primary sideline" data-click="set-layout" data-id="mega-menu"> Mega menu </a> </div>
            </li>
            <li class="horizontal-navigation-dropdown wow fadeIn"> <a class="btn btn-primary"> Widgets </a>
                <div class="horizontal-dropdown-menu" "> <a class="btn btn-primary sideline" href="widgets-activity-widgets.html"> Activity widgets </a> <a class="btn btn-primary sideline" href="widgets-chart-widgets.html"> Chart widgets </a> <a class="btn btn-primary sideline" href="widgets-social-media-widgets.html"> Social Media widgets </a> <a class="btn btn-primary sideline" href="widgets-text-widgets.html"> Text widgets </a> <a class="btn btn-primary sideline" href="widgets-user-widgets.html"> User widgets </a> </div>
        </li>
        <li class="horizontal-navigation-dropdown wow fadeIn"> <a class="btn btn-primary"> UI </a>
            <div class="horizontal-dropdown-menu horizontal-dropdown-menu-lg" "> <a class="btn btn-primary sideline" href="ui-elements-timers-and-counters.html"> Timers and counters </a> <a class="btn btn-primary sideline" href="ui-elements-images.html"> Images </a> <a class="btn btn-primary sideline" href="ui-elements-overlays.html"> Overlays </a> <a class="btn btn-primary sideline" href="ui-elements-lists.html"> Lists </a> <a class="btn btn-primary sideline" href="ui-elements-typography.html"> Typography </a> <a class="btn btn-primary sideline" href="ui-elements-buttons.html"> Buttons </a> <a class="btn btn-primary sideline" href="ui-elements-labels.html"> Labels </a> <a class="btn btn-primary sideline" href="ui-elements-progress-bars.html"> Progress Bars </a> <a class="btn btn-primary sideline" href="ui-elements-carousel.html"> Carousel </a> <a class="btn btn-primary sideline" href="ui-elements-tabs.html"> Tabs </a> <a class="btn btn-primary sideline" href="ui-elements-grid.html"> Grid </a> <a class="btn btn-primary sideline" href="ui-elements-alerts-and-notifications.html"> Alerts &amp; notifications </a> <a class="btn btn-primary sideline" href="ui-elements-animations.html"> Animations </a> <a class="btn btn-primary sideline" href="ui-elements-breadcrumbs.html"> Breadcrumbs </a> <a class="btn btn-primary sideline" href="ui-elements-google-maps.html"> Google Maps </a> <a class="btn btn-primary sideline" href="ui-elements-vector-maps.html"> Vector Maps </a> <a class="btn btn-primary sideline" href="ui-elements-cards.html"> Cards </a> <a class="btn btn-primary sideline" href="ui-elements-dropdowns.html"> Dropdowns </a> <a class="btn btn-primary sideline" href="ui-elements-drag-and-drop.html"> Drag and drop </a> <a class="btn btn-primary sideline" href="ui-elements-other-elements.html"> Other elements </a> </div>
    </li>
    <li class="horizontal-navigation-dropdown wow fadeIn"> <a class="btn btn-primary"> Utilities </a>
        <div class="horizontal-dropdown-menu" "> <a class="btn btn-primary sideline" href="utilities-color-utilities.html"> Color utilities </a> <a class="btn btn-primary sideline" href="utilities-border-utilities.html"> Border utilities </a> <a class="btn btn-primary sideline" href="utilities-height-utilities.html"> Height utilities </a> <a class="btn btn-primary sideline" href="utilities-margin-utilities.html"> Margin Utilities </a> <a class="btn btn-primary sideline" href="utilities-other-utilities.html"> Other utilities </a> <a class="btn btn-primary sideline" href="utilities-padding-utilities.html"> Padding utilities </a> <a class="btn btn-primary sideline" href="utilities-position-utilities.html"> Position utilities </a> <a class="btn btn-primary sideline" href="utilities-text-utilities.html"> Text utilities </a> <a class="btn btn-primary sideline" href="utilities-width-utilities.html"> Width utilities </a> </div>
</li>
<li class="horizontal-navigation-dropdown wow fadeIn"> <a class="btn btn-primary"> Icons </a>
    <div class="horizontal-dropdown-menu" "> <a class="btn btn-primary sideline" href="icons-font-awesome.html"> Font Awesome </a> <a class="btn btn-primary sideline" href="icons-ionicons.html"> Ionicons </a> <a class="btn btn-primary sideline" href="icons-emoji.html"> Emoji </a> <a class="btn btn-primary sideline" href="icons-flags.html"> Flags </a> <a class="btn btn-primary sideline" href="icons-material-design-icons.html"> Material Design Icons </a> <a class="btn btn-primary sideline" href="icons-weather-icons.html"> Weather Icons </a> </div>
</li>
<li class="horizontal-navigation-dropdown wow fadeIn"> <a class="btn btn-primary"> Forms </a>
    <div class="horizontal-dropdown-menu" "> <a class="btn btn-primary sideline" href="forms-basic.html"> Basic forms </a> <a class="btn btn-primary sideline" href="forms-sample.html"> Sample forms </a> <a class="btn btn-primary sideline" href="forms-validation.html"> Form Validation </a> <a class="btn btn-primary sideline" href="forms-file-uploads.html"> File Uploads </a> <a class="btn btn-primary sideline" href="forms-jquery-file-upload.html"> jQuery File Upload </a> <a class="btn btn-primary sideline" href="forms-text-editor.html"> Text editor </a> <a class="btn btn-primary sideline" href="forms-pickers.html"> Pickers </a> <a class="btn btn-primary sideline" href="forms-nouislider.html"> NoUiSlider </a> </div>
</li>
<li class="horizontal-navigation-dropdown wow fadeIn"> <a class="btn btn-primary"> Tables </a>
    <div class="horizontal-dropdown-menu" "> <a class="btn btn-primary sideline" href="tables-static.html"> Static Tables </a> <a class="btn btn-primary sideline" href="tables-datatable.html"> Datatable </a> <a class="btn btn-primary sideline" href="tables-sortable.html"> Sortable </a> </div>
</li>
<li class="horizontal-navigation-dropdown wow fadeIn"> <a class="btn btn-primary"> e-Commerce </a>
    <div class="horizontal-dropdown-menu" "> <a class="btn btn-primary sideline" href="e-commerce-dashboard.html"> Dashboard </a> <a class="btn btn-primary sideline" href="e-commerce-orders.html"> Orders </a> <a class="btn btn-primary sideline" href="e-commerce-order.html"> Order </a> <a class="btn btn-primary sideline" href="e-commerce-products.html"> Products </a> <a class="btn btn-primary sideline" href="e-commerce-product.html"> Product </a> <a class="btn btn-primary sideline" href="e-commerce-customers.html"> Customers </a> </div>
</li>
<li class="horizontal-navigation-dropdown wow fadeIn"> <a class="btn btn-primary"> Email </a>
    <div class="horizontal-dropdown-menu" "> <a class="btn btn-primary sideline" href="email-inbox.html"> Inbox </a> <a class="btn btn-primary sideline" href="email-view.html"> View email </a> <a class="btn btn-primary sideline" href="email-compose.html"> Compose email </a> </div>
</li>
<li class="horizontal-navigation-dropdown wow fadeIn"> <a class="btn btn-primary"> Charts </a>
    <div class="horizontal-dropdown-menu" "> <a class="btn btn-primary sideline" href="charts-nvd3.html"> NVD3 </a> <a class="btn btn-primary sideline" href="charts-chartist.html"> Chartist </a> <a class="btn btn-primary sideline" href="charts-chart-js.html"> Chart.js </a> <a class="btn btn-primary sideline" href="charts-easy-pie-chart.html"> Easy Pie Chart </a> <a class="btn btn-primary sideline" href="charts-jquery-knob.html"> jQuery Knob </a> <a class="btn btn-primary sideline" href="charts-gauge.html"> Gauges </a> </div>
</li>
<li class="horizontal-navigation-dropdown wow fadeIn"> <a class="btn btn-primary"> Pages </a>
    <div class="horizontal-dropdown-menu" "> <a class="btn btn-primary sideline" href="pages-error-page.html"> Error page </a> <a class="btn btn-primary sideline" href="pages-empty-page.html"> Empty Page </a> <a class="btn btn-primary sideline" href="pages-login.html"> Login </a> <a class="btn btn-primary sideline" href="pages-register.html"> Register </a> <a class="btn btn-primary sideline" href="pages-forgot-password.html"> Forgot Password </a> <a class="btn btn-primary sideline" href="pages-lock-screen.html"> Lock Screen </a> <a class="btn btn-primary sideline" href="pages-profile.html"> User profile </a> <a class="btn btn-primary sideline" href="pages-coming-soon.html"> Coming soon </a> <a class="btn btn-primary sideline" href="pages-under-maintenance.html"> Under maintenance </a> </div>
</li>
<li class="horizontal-navigation-dropdown wow fadeIn"> <a class="btn btn-primary"> Extras </a>
    <div class="horizontal-dropdown-menu" "> <a class="btn btn-primary sideline" href="extras-invoice.html"> Invoice </a> <a class="btn btn-primary sideline" href="extras-zoom.html"> Zoom </a> <a class="btn btn-primary sideline" href="extras-search-results.html"> Search Results </a> <a class="btn btn-primary sideline" href="extras-pricing-tables.html"> Pricing tables </a> <a class="btn btn-primary sideline" href="extras-wow.html"> Wow </a> <a class="btn btn-primary sideline" href="extras-syntax-highlighting.html"> Syntax highlighting </a> <a class="btn btn-primary sideline" href="extras-calendar.html"> Calendar </a> <a class="btn btn-primary sideline" href="extras-crop.html"> Image cropping </a> <a class="btn btn-primary sideline" href="extras-mousetrap.html"> Mousetrap </a> <a class="btn btn-primary sideline" href="extras-typed.html"> Typed.js </a> </div>
</li>
<li class="horizontal-navigation-dropdown wow fadeIn"> <a class="btn btn-primary" href="documentation.html"> Docs </a> </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="horizontal-navigation horizontal-navigation-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <ul class="list-unstyled navigation animation-delay">
                    <li class="horizontal-navigation-dropdown wow fadeIn"> <a class="btn btn-primary"> Dashboards </a>
                        <div class="horizontal-dropdown-menu" "> <a class="btn btn-primary sideline" href="dashboards-analytics.html"> Analytics </a> <a class="btn btn-primary sideline" href="dashboards-e-commerce.html"> e-Commerce </a> <a class="btn btn-primary sideline" href="dashboards-finance.html"> Finance </a> <a class="btn btn-primary sideline" href="dashboards-saas.html"> SAAS </a> </div>
            </li>
            <li class="horizontal-navigation-dropdown wow fadeIn"> <a class="btn btn-primary"> Layouts </a>
                <div class="horizontal-dropdown-menu" "> <a class="btn btn-primary sideline" data-click="set-layout" data-id="default-sidebar"> Default sidebar </a> <a class="btn btn-primary sideline" data-click="set-layout" data-id="collapsed-sidebar"> Collapsed sidebar </a> <a class="btn btn-primary sideline" data-click="set-layout" data-id="off-canvas"> Off canvas </a> <a class="btn btn-primary sideline" data-click="set-layout" data-id="left-sidebar-over"> Left sidebar over </a> <a class="btn btn-primary sideline" data-click="set-layout" data-id="left-sidebar-under"> Left sidebar under </a> <a class="btn btn-primary sideline" data-click="set-layout" data-id="horizontal-navigation-1"> Horizontal navigation 1 </a> <a class="btn btn-primary sideline" data-click="set-layout" data-id="horizontal-navigation-2"> Horizontal navigation 2 </a> <a class="btn btn-primary sideline" data-click="set-layout" data-id="horizontal-navigation-3"> Horizontal navigation 3 </a> <a class="btn btn-primary sideline" data-click="set-layout" data-id="mega-menu"> Mega menu </a> </div>
        </li>
        <li class="horizontal-navigation-dropdown wow fadeIn"> <a class="btn btn-primary"> Widgets </a>
            <div class="horizontal-dropdown-menu" "> <a class="btn btn-primary sideline" href="widgets-activity-widgets.html"> Activity widgets </a> <a class="btn btn-primary sideline" href="widgets-chart-widgets.html"> Chart widgets </a> <a class="btn btn-primary sideline" href="widgets-social-media-widgets.html"> Social Media widgets </a> <a class="btn btn-primary sideline" href="widgets-text-widgets.html"> Text widgets </a> <a class="btn btn-primary sideline" href="widgets-user-widgets.html"> User widgets </a> </div>
    </li>
    <li class="horizontal-navigation-dropdown wow fadeIn"> <a class="btn btn-primary"> UI </a>
        <div class="horizontal-dropdown-menu horizontal-dropdown-menu-lg" "> <a class="btn btn-primary sideline" href="ui-elements-timers-and-counters.html"> Timers and counters </a> <a class="btn btn-primary sideline" href="ui-elements-images.html"> Images </a> <a class="btn btn-primary sideline" href="ui-elements-overlays.html"> Overlays </a> <a class="btn btn-primary sideline" href="ui-elements-lists.html"> Lists </a> <a class="btn btn-primary sideline" href="ui-elements-typography.html"> Typography </a> <a class="btn btn-primary sideline" href="ui-elements-buttons.html"> Buttons </a> <a class="btn btn-primary sideline" href="ui-elements-labels.html"> Labels </a> <a class="btn btn-primary sideline" href="ui-elements-progress-bars.html"> Progress Bars </a> <a class="btn btn-primary sideline" href="ui-elements-carousel.html"> Carousel </a> <a class="btn btn-primary sideline" href="ui-elements-tabs.html"> Tabs </a> <a class="btn btn-primary sideline" href="ui-elements-grid.html"> Grid </a> <a class="btn btn-primary sideline" href="ui-elements-alerts-and-notifications.html"> Alerts &amp; notifications </a> <a class="btn btn-primary sideline" href="ui-elements-animations.html"> Animations </a> <a class="btn btn-primary sideline" href="ui-elements-breadcrumbs.html"> Breadcrumbs </a> <a class="btn btn-primary sideline" href="ui-elements-google-maps.html"> Google Maps </a> <a class="btn btn-primary sideline" href="ui-elements-vector-maps.html"> Vector Maps </a> <a class="btn btn-primary sideline" href="ui-elements-cards.html"> Cards </a> <a class="btn btn-primary sideline" href="ui-elements-dropdowns.html"> Dropdowns </a> <a class="btn btn-primary sideline" href="ui-elements-drag-and-drop.html"> Drag and drop </a> <a class="btn btn-primary sideline" href="ui-elements-other-elements.html"> Other elements </a> </div>
</li>
<li class="horizontal-navigation-dropdown wow fadeIn"> <a class="btn btn-primary"> Utilities </a>
    <div class="horizontal-dropdown-menu" "> <a class="btn btn-primary sideline" href="utilities-color-utilities.html"> Color utilities </a> <a class="btn btn-primary sideline" href="utilities-border-utilities.html"> Border utilities </a> <a class="btn btn-primary sideline" href="utilities-height-utilities.html"> Height utilities </a> <a class="btn btn-primary sideline" href="utilities-margin-utilities.html"> Margin Utilities </a> <a class="btn btn-primary sideline" href="utilities-other-utilities.html"> Other utilities </a> <a class="btn btn-primary sideline" href="utilities-padding-utilities.html"> Padding utilities </a> <a class="btn btn-primary sideline" href="utilities-position-utilities.html"> Position utilities </a> <a class="btn btn-primary sideline" href="utilities-text-utilities.html"> Text utilities </a> <a class="btn btn-primary sideline" href="utilities-width-utilities.html"> Width utilities </a> </div>
</li>
<li class="horizontal-navigation-dropdown wow fadeIn"> <a class="btn btn-primary"> Icons </a>
    <div class="horizontal-dropdown-menu" "> <a class="btn btn-primary sideline" href="icons-font-awesome.html"> Font Awesome </a> <a class="btn btn-primary sideline" href="icons-ionicons.html"> Ionicons </a> <a class="btn btn-primary sideline" href="icons-emoji.html"> Emoji </a> <a class="btn btn-primary sideline" href="icons-flags.html"> Flags </a> <a class="btn btn-primary sideline" href="icons-material-design-icons.html"> Material Design Icons </a> <a class="btn btn-primary sideline" href="icons-weather-icons.html"> Weather Icons </a> </div>
</li>
<li class="horizontal-navigation-dropdown wow fadeIn"> <a class="btn btn-primary"> Forms </a>
    <div class="horizontal-dropdown-menu" "> <a class="btn btn-primary sideline" href="forms-basic.html"> Basic forms </a> <a class="btn btn-primary sideline" href="forms-sample.html"> Sample forms </a> <a class="btn btn-primary sideline" href="forms-validation.html"> Form Validation </a> <a class="btn btn-primary sideline" href="forms-file-uploads.html"> File Uploads </a> <a class="btn btn-primary sideline" href="forms-jquery-file-upload.html"> jQuery File Upload </a> <a class="btn btn-primary sideline" href="forms-text-editor.html"> Text editor </a> <a class="btn btn-primary sideline" href="forms-pickers.html"> Pickers </a> <a class="btn btn-primary sideline" href="forms-nouislider.html"> NoUiSlider </a> </div>
</li>
<li class="horizontal-navigation-dropdown wow fadeIn"> <a class="btn btn-primary"> Tables </a>
    <div class="horizontal-dropdown-menu" "> <a class="btn btn-primary sideline" href="tables-static.html"> Static Tables </a> <a class="btn btn-primary sideline" href="tables-datatable.html"> Datatable </a> <a class="btn btn-primary sideline" href="tables-sortable.html"> Sortable </a> </div>
</li>
<li class="horizontal-navigation-dropdown wow fadeIn"> <a class="btn btn-primary"> e-Commerce </a>
    <div class="horizontal-dropdown-menu" "> <a class="btn btn-primary sideline" href="e-commerce-dashboard.html"> Dashboard </a> <a class="btn btn-primary sideline" href="e-commerce-orders.html"> Orders </a> <a class="btn btn-primary sideline" href="e-commerce-order.html"> Order </a> <a class="btn btn-primary sideline" href="e-commerce-products.html"> Products </a> <a class="btn btn-primary sideline" href="e-commerce-product.html"> Product </a> <a class="btn btn-primary sideline" href="e-commerce-customers.html"> Customers </a> </div>
</li>
<li class="horizontal-navigation-dropdown wow fadeIn"> <a class="btn btn-primary"> Email </a>
    <div class="horizontal-dropdown-menu" "> <a class="btn btn-primary sideline" href="email-inbox.html"> Inbox </a> <a class="btn btn-primary sideline" href="email-view.html"> View email </a> <a class="btn btn-primary sideline" href="email-compose.html"> Compose email </a> </div>
</li>
<li class="horizontal-navigation-dropdown wow fadeIn"> <a class="btn btn-primary"> Charts </a>
    <div class="horizontal-dropdown-menu" "> <a class="btn btn-primary sideline" href="charts-nvd3.html"> NVD3 </a> <a class="btn btn-primary sideline" href="charts-chartist.html"> Chartist </a> <a class="btn btn-primary sideline" href="charts-chart-js.html"> Chart.js </a> <a class="btn btn-primary sideline" href="charts-easy-pie-chart.html"> Easy Pie Chart </a> <a class="btn btn-primary sideline" href="charts-jquery-knob.html"> jQuery Knob </a> <a class="btn btn-primary sideline" href="charts-gauge.html"> Gauges </a> </div>
</li>
<li class="horizontal-navigation-dropdown wow fadeIn"> <a class="btn btn-primary"> Pages </a>
    <div class="horizontal-dropdown-menu" "> <a class="btn btn-primary sideline" href="pages-error-page.html"> Error page </a> <a class="btn btn-primary sideline" href="pages-empty-page.html"> Empty Page </a> <a class="btn btn-primary sideline" href="pages-login.html"> Login </a> <a class="btn btn-primary sideline" href="pages-register.html"> Register </a> <a class="btn btn-primary sideline" href="pages-forgot-password.html"> Forgot Password </a> <a class="btn btn-primary sideline" href="pages-lock-screen.html"> Lock Screen </a> <a class="btn btn-primary sideline" href="pages-profile.html"> User profile </a> <a class="btn btn-primary sideline" href="pages-coming-soon.html"> Coming soon </a> <a class="btn btn-primary sideline" href="pages-under-maintenance.html"> Under maintenance </a> </div>
</li>
<li class="horizontal-navigation-dropdown wow fadeIn"> <a class="btn btn-primary"> Extras </a>
    <div class="horizontal-dropdown-menu" "> <a class="btn btn-primary sideline" href="extras-invoice.html"> Invoice </a> <a class="btn btn-primary sideline" href="extras-zoom.html"> Zoom </a> <a class="btn btn-primary sideline" href="extras-search-results.html"> Search Results </a> <a class="btn btn-primary sideline" href="extras-pricing-tables.html"> Pricing tables </a> <a class="btn btn-primary sideline" href="extras-wow.html"> Wow </a> <a class="btn btn-primary sideline" href="extras-syntax-highlighting.html"> Syntax highlighting </a> <a class="btn btn-primary sideline" href="extras-calendar.html"> Calendar </a> <a class="btn btn-primary sideline" href="extras-crop.html"> Image cropping </a> <a class="btn btn-primary sideline" href="extras-mousetrap.html"> Mousetrap </a> <a class="btn btn-primary sideline" href="extras-typed.html"> Typed.js </a> </div>
</li>
<li class="horizontal-navigation-dropdown wow fadeIn"> <a class="btn btn-primary" href="documentation.html"> Docs </a> </li>
</ul>
</div>
</div>
</div>
</div>