/**
 *
 * Type your custom styles
 *
 */



/**
 * Additional styles for Anime demo
 */
/* Wide container */
.content-wrap {
    max-width: none;
}

.lead{font-size:16px !important;}
.login-string{text-transform: capitalize !important;font-size:12px !important;font-weight: bold;}
.navbar-youplay .navbar-collapse .dropdown>.dropdown-menu{padding-left: 0 !important;}